<header>
  <h2>Cost Estimation</h2>
</header>

<button type="button" class="btn btn-info savebtn" (click)="newupdate()" >update</button>


<div class="container">
  <div class="card">
<form name="userForm">

	<div class="card-body">

<div id="table" class="table-editable">
<table class="table table-striped">
<thead>
<tr>
<th class="center">#Item</th>
<th>Description</th>
<th class="right">Unit</th>
<th class="right">Unit Price</th>
<th class="center">Qty</th>
<th class="right">Total</th>
</tr>
</thead>
<tbody >

<tr *ngFor="let onedata of responseData[0];let i=index">
<td class="center" contenteditable="true">1</td>
<!-- <td class="left strong" contenteditable="true">{{onedata.description}}</td> -->
<!-- {{onedata.description}}{{i}} -->
<td> <input type="text" class="td_input" name="desc{{i}}" [(ngModel)]="onedata.description" (input)="kkk()"></td>

<td> <input type="text" class="td_input" name="unit{{i}}" [(ngModel)]="onedata.unit" (input)="kkk()"></td>

<td> <input type="text" class="td_input" name="unitprice{{i}}" [(ngModel)]="onedata.unitprice" (input)="kkk()"></td>

<td> <input type="text" class="td_input" name="quantity{{i}}" [(ngModel)]="onedata.quantity" (input)="kkk()"></td>


<td >{{(onedata.unitprice)*(onedata.quantity)}}</td>
</tr>
</tbody>
</table>
</div>
<div class="row">
<div class="col-lg-4 col-sm-5">

</div>

<div class="col-lg-4 col-sm-5 ml-auto">
<table class="table table-clear">
<tbody>
<tr>
<td class="left">
<strong>Subtotal</strong>
</td>
<td class="right"><input type="text" class="td_input" name="subTotal{{i}}" [(ngModel)]="this.responseData[2]" (input)="kkk()"></td>
</tr>
<tr>
<td class="left">
<strong >Tax (%)</strong>
</td>
<td class="right"><input type="text" class="td_input" name="tax" [(ngModel)]="this.responseData[3]"  (input)="calculate()"></td>
</tr>

<tr>
<td class="left">
<strong>Total</strong>
</td>
<td class="right">
<strong>{{responseData[1]}}</strong>
</td>
</tr>
</tbody>
</table>

</div>

</div>

</div>
</form>
</div>
</div>
